/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 14, 2017, 3:14:00 PM
    Author     : Jonas


    background-image: url("food-table.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

*/

body{
    font-size: 100%;
    background-color: #e9e4f0;
}

h1{
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

h2{
    font-size: 2em;
    text-align: left;
    color: darkbrown;
    
    
    
}